.placesBtn, .playersBtn {
    font-size: 18px;
    color: black;
    padding: 12px;
}

.placesDropdown, .majorPlayersDropdown {
    display: flex;
    flex-direction: column;
    width: 256px;
}

.places, .players {
    display: none;
    background-color: #e6d4d4;
}

.places a:hover, .players a:hover {
    background-color: darkgrey;
}

.places a, .players a {
    display: block;
    padding: 12px 12px;
    color: black;
    text-decoration: none;
}

.placesDropdown:hover .places, .majorPlayersDropdown:hover .players {
    display: inline;
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
