.dropdownBtn {
    font-size: 18px;
    color: black;
    padding: 12px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdownLinks {
    display: none;
    background-color: #e6d4d4;
}

.dropdownLinks a:hover {
    background-color: darkgrey;
}

.dropdownLinks a {
    display: block;
    padding: 12px 12px;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdownLinks {
    display: inline;
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
}
