body {
    margin: 3%;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 12px;
    max-width: 40%;
}

.btn {
    margin-bottom: 10px;
}

.table {
    margin-bottom: 0px;
}

a:link {
    text-decoration: none;
}

.btn.dice {
    width: 25%;
}

.form-popup {
    display: none;
    border: none;
    padding: 10px 16px;
}

.form-container {
    background-color: white;
    padding: 10px;
    max-width: 450px;
}

.form-container input[type=text], input[type=number] {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #f1f1f1;
}

.form-container .btn {
    width: 100%;
    padding: 12px;
    background-color: lightgreen;
}

.form-container .cancel {
    background-color: lightcoral;
}

.descriptionArea {
    width: 100%;
}

.character.goods {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
}

.character.info {
    display: flex;
    flex-direction: row-reverse;
}

.spell.info {
    display: flex;
    flex-direction: column;
}

.item.info {
    display: flex;
    flex-direction: column;
}

.stats {
    width: 50%;
    margin-left: 5%;
}

.dice-roll {
    float: center;
    display: flex;
}

.table-edit-btns {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.btn.save {
    display: flex;
}

.btn.edit {
    display: flex;
}

.btn.addDesc {
    position: relative;
}

.btn.homepageLink {
    display: flex;
    float: right;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  top: 50%;
  right: 50%;
  z-index: 1;
  position: absolute;
  display: 'none';
  background-image: url('../sword.png');
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page.greyout {
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    display: 'none';
}
