table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 12px;
}

a:link {
    text-decoration: none;
}

button {
    border: 1px solid #ddd;
    padding: 12px;
}

button:active {
    background-color: gray;
}

.form-popup {
    display: none;
}