body {
    margin: 3%;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 12px;
}

a:link {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-family: 'IM Fell English SC', cursive;
}

h3 {
    font-family: 'Almendra Display', cursive;
}